<h4>Verwendung von Cookies</h4>
<p>
  Wir verwenden „Cookies“. Bei Cookies handelt es sich um kleine Textdateien, die auf Ihrem Endgerät (Laptop, Tablet, Smartphone o.ä.) gespeichert werden, wenn Sie unsere Website besuchen.
  Wir setzen Cookies ein, um unsere Website nutzerfreundlicher zu gestalten. Einige Elemente unserer Internetseite erfordern es, dass der aufrufende Browser auch nach einem Seitenwechsel identifiziert werden kann.
  In den Cookies werden dabei folgende Daten gespeichert und übermittelt:
</p>
<ul>
  <li>Spracheinstellungen</li>
</ul>
<p>
  Der Zweck der Verwendung technisch notwendiger Cookies ist, die Nutzung von Websites für die Nutzer zu vereinfachen. Einige Funktionen unserer Internetseite können ohne den Einsatz von Cookies nicht angeboten werden. Für diese ist es erforderlich,
  dass der Browser auch nach einem Seitenwechsel wiedererkannt wird.
  Für folgende Anwendungen benötigen wir Cookies:</p>
<ul>
  <li>Übernahme von Spracheinstellungen</li>
</ul>
<p>
  Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten Interesses an einer nutzerfreundlichen Gestaltung unserer Website.
</p>
<p>
  Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb und die Wartung unserer Website als Auftragsverarbeiter tätig werden. Hierfür haben wir mit den Anbietern die entsprechenden Auftragsverarbeitungsverträge abgeschlossen.
</p>
<p>
  Sie können über Ihre Browsereinstellungen einzelne Cookies oder den gesamten Cookie-Bestand löschen. Darüber hinaus erhalten Sie Informationen und Anleitungen, wie diese Cookies gelöscht oder deren Speicherung vorab blockiert werden können. Je nach
  Anbieter Ihres Browsers finden Sie die notwendigen Informationen unter den nachfolgenden Links:
</p>
<ul>
  <li>Mozilla Firefox: https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen</li>
  <li>Internet Explorer: https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies</li>
  <li>Google Chrome: https://support.google.com/accounts/answer/61416?hl=de</li>
  <li>Opera: http://www.opera.com/de/help</li>
  <li>Safari: https://support.apple.com/kb/PH17191?locale=de_DE&viewlocale=de_DE</li>
</ul>
<p>
  Zusätzlich können Sie standardmäßig das Laden sog. Scripts verhindern. NoScript erlaubt das Ausführen von JavaScript, Java und anderen Plugins nur bei vertrauenswürdigen Domains Ihrer Wahl. Informationen und Anleitungen, wie Sie diese Funktion
  bearbeiten können, erhalten Sie über den Anbieter Ihres Browsers (z.B. für Mozilla Firefox: https://addons.mozilla.org/de/firefox/addon/noscript/).
</p>
