Use of cookies
We use "cookies". Cookies are small text files that are stored on your end device (laptop, tablet, smartphone or similar) when you visit our website.
We use cookies to make our website more user-friendly. Some elements of our website require that the calling browser can be identified even after a page change.
The following data is stored and transmitted in the cookies:
Language settings
The purpose of using technically necessary cookies is to simplify the use of websites for users. Some functions of our website cannot be offered without the use of cookies. For these it is necessary that the browser is recognized even after a page change.
We require cookies for the following applications:
Adoption of language settings
The processing is carried out in accordance with Art. 6 Para. 1 letter f DSGVO on the basis of our justified interest in a user-friendly design of our website.
Recipients of the data may be technical service providers who act as contract processors for the operation and maintenance of our website. For this purpose, we have concluded the corresponding contract processing agreements with the providers.
You can delete individual cookies or the entire cookie inventory via your browser settings. You will also receive information and instructions on how to delete these cookies or block their storage in advance. Depending on the provider of your browser, you will find the necessary information under the following links:
Mozilla Firefox: https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen
Internet Explorer: https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies
Google Chrome: https://support.google.com/accounts/answer/61416?hl=de
Opera: http://www.opera.com/de/help
Safari: https://support.apple.com/kb/PH17191?locale=de_DE&viewlocale=de_DE
Additionally, you can prevent the loading of so-called scripts by default. NoScript allows the execution of JavaScript, Java and other plugins only at trusted domains of your choice. Information and instructions on how to edit this function can be obtained from your browser provider (e.g. for Mozilla Firefox: https://addons.mozilla.org/de/firefox/addon/noscript/).
