<p>
  safemaks.de is a pro bono project, run by many volunteers to help buyers* of medical protection needs to make a decision when choosing a safe merchant. We keep the database as up-to-date as possible.
</p>
<p>
  However, Safemaks accepts no responsibility for the timeliness, accuracy and completeness of the information provided in our database.
  Liability claims against Safmasks (Witte Sommer Patzalt GbR) relating to material or non-material damage caused by the use or non-use of the information provided or by the use of incorrect or incomplete information are excluded as a matter of principle, unless there is evidence of wilful intent or gross negligence on the part of Safmasks.
</p>
