<p>
  Safemaks.de ist ein Pro-Bono-Projekt, durchgeführt von Freiwilligen, um Käufern bei dem Kauf von medizinischer Schutzausrüstung zu helfen, eine Entscheidung bei der Auswahl eines sicheren Händlers zu treffen.
  Wir halten unsere Datenbank so aktuell wie möglich.
</p>
<p>
  Safemaks übernimmt jedoch keine Verantwortung für die Aktualität, Richtigkeit und Vollständigkeit der in unserer Datenbank bereitgestellten Informationen.
  Haftungsansprüche gegen Safmasks (Witte Sommer Patzalt GbR) in Bezug auf materielle oder
  immaterielle Schäden, die durch die Verwendung oder Nichtverwendung der bereitgestellten Informationen oder durch die Verwendung falscher oder unvollständiger Informationen verursacht werden, sind grundsätzlich ausgeschlossen, sofern keine Beweise für Vorsatz oder grobe Fahrlässigkeit von Safmasks vorliegen.
</p>
