<p>In the following you will find information about the processing of your personal data.</p>

<i>The person responsible for the processing of personal data</i>

<p>Responsible in terms of the data protection law is Witte, Sommer, Patzalt GbR.</p>

<h5>Newsletter dispatch</h5>

<p>
  Your data will only be used to send you the subscribed newsletter by e-mail and, if you have additionally agreed to this, to evaluate how you use the newsletter and any linked content. Your name is entered in order to address you personally in the
  newsletter and, if necessary, to identify you if you wish to exercise your rights as a person affected.
  The legal basis for these processing operations is in each case your consent, Art. 6 para. 1 lit. a DSGVO (EU data protection basic regulation).
</p>

<p>We use a service provider who acts as our order processor for the dispatch and, if necessary, for the evaluation of the data.</p>

<p>Data will only be processed in this context as long as the corresponding consent has been obtained.
  Revocation of consent
  You can revoke your consent to the storage of your personal data and its use for the newsletter dispatch by safemsks.de at any time. You will find a link to this effect in every newsletter. In addition, the revocation can be made by unsubscribing
  from the newsletter on the website as well as by using the other contact options provided on the website.
</p>

<h5>Calling our website</h5>

<p>
  When you access our website, i.e. even if you do not register or otherwise submit information, information of a general nature is automatically collected. This information (server log files) includes, for example, the type of web browser, the
  operating system used, the domain name of your Internet service provider, your IP address and similar.
  They are processed in particular for the following purposes:
</p>

<ul>
  <li>Ensuring a problem-free connection establishment of the website,</li>
  <li>Ensuring the smooth use of our website,</li>
  <li>Evaluation of system security and stability and</li>
  <li>for other administrative purposes.</li>
</ul>

<p>We also reserve the right to subsequently check the server log files if there are concrete indications of illegal use.
  Processing is carried out in accordance with Art. 6 para. 1 lit. f DSGVO on the basis of our justified interest in improving the stability and functionality of our website.</p>

<h5>Storage period</h5>

<p>
  The data will be deleted as soon as they are no longer required for the purpose of collection. This is generally the case for the data used to provide the website, when the respective session has ended.
  The provision of the aforementioned personal data is not required by law or contract. Without the IP address and the cookie identification, however, the service and functionality of our website cannot be guaranteed. In addition, individual services
  may not be available or may be restricted.
</p>

<h5>Cookies</h5>

<p>
  We use "cookies". Cookies are small text files that are stored on your end device (laptop, tablet, smartphone or similar) when you visit our website.
  We use cookies to make our website more user-friendly. Some elements of our website require that the calling browser can be identified even after a page change.
  The following data is stored and transmitted in the cookies:
</p>
<ul>
  <li>Language settings</li>
</ul>
<p>
  The purpose of using technically necessary cookies is to simplify the use of websites for users. Some functions of our website cannot be offered without the use of cookies. For these it is necessary that the browser is recognized even after a page
  change.
  We require cookies for the following applications:</p>
<ul>
  <li>Adoption of language settings</li>
</ul>
<p>
  The processing is carried out in accordance with Art. 6 Para. 1 letter f DSGVO on the basis of our justified interest in a user-friendly design of our website.
</p>
<p>
  Recipients of the data may be technical service providers who act as contract processors for the operation and maintenance of our website. For this purpose, we have concluded the corresponding contract processing agreements with the providers.
</p>
<p>
  You can delete individual cookies or the entire cookie inventory via your browser settings. You will also receive information and instructions on how to delete these cookies or block their storage in advance. Depending on the provider of your
  browser, you will find the necessary information under the following links:
</p>
<ul>
  <li>Mozilla Firefox: https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen</li>
  <li>Internet Explorer: https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies</li>
  <li>Google Chrome: https://support.google.com/accounts/answer/61416?hl=de</li>
  <li>Opera: http://www.opera.com/de/help</li>
  <li>Safari: https://support.apple.com/kb/PH17191?locale=de_DE&viewlocale=de_DE</li>
</ul>
<p>
  Additionally, you can prevent the loading of so-called scripts by default. NoScript allows the execution of JavaScript, Java and other plugins only at trusted domains of your choice. Information and instructions on how to edit this function can be
  obtained from your browser provider (e.g. for Mozilla Firefox: https://addons.mozilla.org/de/firefox/addon/noscript/).
</p>

<h5>
Use of the database
</h5>
<p>
If you use our database, we store the data you provide. The legal basis for this is consent in accordance with Art. 6 para. 1 lit. DSGVO. You can revoke this consent at any time. Simply send an e-mail to the admin. The data will be stored until you revoke your consent. The processing of the data is carried out by our contract processor Microsoft in the EU.
</p>

<h5>
  Your rights
</h5>
<p>
  Every data subject has the right of access under Art. 15 DSGVO, the right of rectification under Art. 16 DSGVO, the right of deletion under Art. 17 DSGVO, the right to restrict processing under Art. 18 DSGVO, the right of objection under Art. 21
  DSGVO and the right of data transferability under Art. 20 DSGVO.
</p>
<p>
  The right of information and the right of deletion are subject to the restrictions of §§ 34 and 35 BDSG. You can revoke your consent to the processing of personal data at any time. This also applies to the revocation of declarations of consent that
  were given to us before the basic data protection regulation came into force, i.e. before 25 May 2018. Please note that the revocation is only effective for the future. Processing operations that took place before the revocation are not affected by
  this. In addition, there is a right of appeal to a competent data protection supervisory authority (Art. 77 DSGVO in conjunction with § 19 BDSG). A list of the supervisory authorities (for the non-public sector) with their addresses can be found at
  <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.
</p>
<i>
  Information on your right of objection
</i>
<p>
  You have the right to object at any time, for reasons arising from your particular situation, to the processing of personal data relating to you that is carried out on the basis of Art. 6, para. 1, letter f) DPA (data processing based on a
  balancing of interests); this also applies to profiling based on this provision within the meaning of Art. 4, no. 4 DPA.
  If you lodge an objection, we will no longer process your personal data unless we can demonstrate compelling reasons for processing that are worthy of protection and outweigh your interests, rights and freedoms, or unless the processing serves to
  assert, exercise or defend legal claims.
  The objection can be made in any form with the subject "objection", stating your name, address or other identification features, to: <a href="mailto:contact@safemasks.de">contact@safemasks.de</a>.
</p>
