<p>
  Im folgenden erhalten Sie Informationen über die Verarbeitung Ihrer personenbezogenen Daten.
</p>


<i>Der Verantwortliche für die Verarbeitung der personenbezogenen Daten</i>

<p>
  Verantwortliche im Sinne des Datenschutzrechts ist die Witte, Sommer, Patzalt GbR.</p>


<h4>Welche Verarbeitungstätigkeiten werden vorgenommen?</h4>

<h5>Newsletterversand</h5>

<p>
  Ihre Daten werden ausschließlich dazu verwendet, Ihnen den abonnierten Newsletter per E-Mail zuzustellen und, soweit Sie hierin zusätzlich eingewilligt haben, auszuwerten, wie Sie den Newsletter und ggf. darin verlinkte Inhalte nutzen. Die Angabe
  Ihres Namens erfolgt, um Sie im Newsletter persönlich ansprechen zu können und ggf. zu identifizieren, falls Sie von Ihren Rechten als Betroffener Gebrauch machen wollen.
  Rechtsgrundlage für diese Verarbeitungen ist jeweils Ihre Einwilligung, Art. 6 Abs. 1 lit. a DSGVO (EU-Datenschutz-Grundverordnung).
</p>

<p>
  Wir setzen für den Versand und ggf. erfolgende Auswertungen einen Dienstleister ein, der als unser Auftragsverarbeiter tätig wird.
</p>

<p>
  Daten werden in diesem Zusammenhang nur verarbeitet, solange die entsprechende Einwilligung vorliegt.
  Widerruf der Einwilligung
  Die Einwilligung zur Speicherung Ihrer persönlichen Daten und ihrer Nutzung für den Newsletterversand durch safemsks.de können Sie jederzeit widerrufen. In jedem Newsletter findet sich dazu ein entsprechender Link. Außerdem kann der Widerruf
  durch
  die Newsletter-Abmeldung auf der Webseite erfolgen sowie über die auf der Webseite angegebenen weiteren Kontaktmöglichkeiten.
</p>

<h5>Aufruf unserer Website</h5>

<p>
  Wenn Sie auf unsere Website zugreifen, d.h., selbst wenn Sie sich nicht registrieren oder anderweitig Informationen übermitteln, werden automatisch Informationen allgemeiner Natur erfasst. Diese Informationen (Server-Logfiles) beinhalten etwa
  die
  Art des Webbrowsers, das verwendete Betriebssystem, den Domainnamen Ihres Internet-Service-Providers, Ihre IP-Adresse und ähnliches.
  Sie werden insbesondere zu folgenden Zwecken verarbeitet:
</p>

<ul>
  <li>Sicherstellung eines problemlosen Verbindungsaufbaus der Website,</li>
  <li>Sicherstellung einer reibungslosen Nutzung unserer Website,</li>
  <li>Auswertung der Systemsicherheit und -stabilität sowie</li>
  <li>zu weiteren administrativen Zwecken.</li>
</ul>

<p>
  Wir behalten uns außerdem vor, die Server-Logfiles nachträglich zu überprüfen, sollten konkrete Anhaltspunkte auf eine rechtswidrige Nutzung hinweisen.
  Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten Interesses an der Verbesserung der Stabilität und Funktionalität unserer Website.
</p>


<h5>Speicherdauer</h5>

<p>
  Die Daten werden gelöscht, sobald diese für den Zweck der Erhebung nicht mehr erforderlich sind. Dies ist für die Daten, die der Bereitstellung der Website dienen, grundsätzlich der Fall, wenn die jeweilige Sitzung beendet ist.
  Die Bereitstellung der vorgenannten personenbezogenen Daten ist weder gesetzlich noch vertraglich vorgeschrieben. Ohne die IP-Adresse und die Cookie-Kennung ist jedoch der Dienst und die Funktionsfähigkeit unserer Website nicht gewährleistet.
  Zudem
  können einzelne Dienste und Services nicht verfügbar oder eingeschränkt sein.
</p>

<h5>
  Cookies
</h5>
<p>
  Wir verwenden „Cookies“. Bei Cookies handelt es sich um kleine Textdateien, die auf Ihrem Endgerät (Laptop, Tablet, Smartphone o.ä.) gespeichert werden, wenn Sie unsere Website besuchen.
  Wir setzen Cookies ein, um unsere Website nutzerfreundlicher zu gestalten. Einige Elemente unserer Internetseite erfordern es, dass der aufrufende Browser auch nach einem Seitenwechsel identifiziert werden kann.
  In den Cookies werden dabei folgende Daten gespeichert und übermittelt:
</p>
<ul>
  <li>Spracheinstellungen</li>
</ul>
<p>
  Der Zweck der Verwendung technisch notwendiger Cookies ist, die Nutzung von Websites für die Nutzer zu vereinfachen. Einige Funktionen unserer Internetseite können ohne den Einsatz von Cookies nicht angeboten werden. Für diese ist es erforderlich,
  dass der Browser auch nach einem Seitenwechsel wiedererkannt wird.
  Für folgende Anwendungen benötigen wir Cookies:</p>
<ul>
  <li>Übernahme von Spracheinstellungen</li>
</ul>
<p>
  Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten Interesses an einer nutzerfreundlichen Gestaltung unserer Website.
</p>
<p>
  Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb und die Wartung unserer Website als Auftragsverarbeiter tätig werden. Hierfür haben wir mit den Anbietern die entsprechenden Auftragsverarbeitungsverträge abgeschlossen.
</p>
<p>
  Sie können über Ihre Browsereinstellungen einzelne Cookies oder den gesamten Cookie-Bestand löschen. Darüber hinaus erhalten Sie Informationen und Anleitungen, wie diese Cookies gelöscht oder deren Speicherung vorab blockiert werden können. Je nach
  Anbieter Ihres Browsers finden Sie die notwendigen Informationen unter den nachfolgenden Links:
</p>
<ul>
  <li>Mozilla Firefox: https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen</li>
  <li>Internet Explorer: https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies</li>
  <li>Google Chrome: https://support.google.com/accounts/answer/61416?hl=de</li>
  <li>Opera: http://www.opera.com/de/help</li>
  <li>Safari: https://support.apple.com/kb/PH17191?locale=de_DE&viewlocale=de_DE</li>
</ul>
<p>
  Zusätzlich können Sie standardmäßig das Laden sog. Scripts verhindern. NoScript erlaubt das Ausführen von JavaScript, Java und anderen Plugins nur bei vertrauenswürdigen Domains Ihrer Wahl. Informationen und Anleitungen, wie Sie diese Funktion
  bearbeiten können, erhalten Sie über den Anbieter Ihres Browsers (z.B. für Mozilla Firefox: https://addons.mozilla.org/de/firefox/addon/noscript/).
</p>

<h5>
  Nutzung der Datenbank
</h5>
<p>
  Wenn Sie unsere Datenbank nutzen Speichern wir Ihre angegebenen Daten. Rechtsgrundlage hierfür ist die Einwilligung gemäß Art. 6 Abs. 1 lit. DSGVO. Sie können die Einwilligung jederzeit widerrufen. Hierfür reicht eine einfach E-Mail an den
  Admin.
  Die Daten werden bis zu Ihrem Widerruf gespeichert. Die Verarbeitung der Daten findet durch unseren Auftragsverarbeiter Microsoft in der EU statt.
</p>

<h5>
  Ihre Rechte
</h5>
<p>
  Jede betroffene Person hat das Recht auf Auskunft nach Art. 15 DSGVO, das Recht auf Berichtigung nach Art. 16 DSGVO, das Recht auf Löschung nach Art. 17 DSGVO, das Recht auf Einschränkung der Verarbeitung nach Art. 18 DSGVO, das Recht auf
  Widerspruch aus Art. 21 DSGVO sowie das Recht auf Datenübertragbarkeit aus Art. 20 DSGVO.
  Beim Auskunftsrecht und beim Löschungsrecht gelten die Einschränkungen nach §§ 34 und 35 BDSG.
  Eine erteilte Einwilligung in die Verarbeitung personenbezogener Daten können Sie jederzeit uns gegenüber widerrufen. Dies gilt auch für den Widerruf von Einwilligungserklärungen, die vor der Geltung der Datenschutzgrundverordnung, also vor dem
  25.
  Mai 2018, uns gegenüber erteilt worden sind. Bitte beachten Sie, dass der Widerruf erst für die Zukunft wirkt. Verarbeitungen, die vor dem Widerruf erfolgt sind, sind davon nicht betroffen.
  Darüber hinaus besteht ein Beschwerderecht bei einer zuständigen Datenschutzaufsichtsbehörde (Art. 77 DSGVO i.V.m. § 19 BDSG). Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift finden Sie unter
  <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.
</p>

<i>
  Informationen zu Ihrem Widerspruchsrecht
</i>
<p>
  Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund Art. 6 Abs. 1 lit. f DSGVO (Datenverarbeitung auf der Grundlage einer
  Interessenabwägung) erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmung gestütztes Profiling im Sinne von Art. 4 Nr. 4 DSGVO.
  Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten nicht mehr verarbeiten, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die
  Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.
  Der Widerspruch kann formfrei mit dem Betreff „Widerspruch“ unter Angabe Ihres Namens, Ihrer Adresse oder anderer Identifikationsmerkmale erfolgen an: <a href="mailto:contact@safemasks.de">contact@safemasks.de</a>.
</p>
