Im folgenden erhalten Sie Informationen über die Verarbeitung Ihrer personenbezogenen Daten.

Der Verantwortliche für die Verarbeitung der personenbezogenen Daten.


Verantwortliche im Sinne des Datenschutzrechts ist die Witte, Sommer, Patzalt GbR


Nutzung der Datenbank
Wenn Sie unsere Datenbank nutzen Speichern wir Ihre angegebenen Daten. Rechtsgrundlage hierfür ist die Einwilligung gemäß Art. 6 Abs. 1 lit. DSGVO. Sie können die Einwilligung jederzeit widerrufen. Hierfür reicht eine einfach E-Mail an den Admin. Die Daten werden bis zu Ihrem Widerruf gespeichert. Die Verarbeitung der Daten findet durch unseren Auftragsverarbeiter Microsoft in der EU statt.
Ihre Rechte

Jede betroffene Person hat das Recht auf Auskunft nach Art. 15 DSGVO, das Recht auf Berichtigung nach Art. 16 DSGVO, das Recht auf Löschung nach Art. 17 DSGVO, das Recht auf Einschränkung der Verarbeitung nach Art. 18 DSGVO, das Recht auf Widerspruch aus Art. 21 DSGVO sowie das Recht auf Datenübertragbarkeit aus Art. 20 DSGVO.
Beim Auskunftsrecht und beim Löschungsrecht gelten die Einschränkungen nach §§ 34 und 35 BDSG.
Eine erteilte Einwilligung in die Verarbeitung personenbezogener Daten können Sie jederzeit uns gegenüber widerrufen. Dies gilt auch für den Widerruf von Einwilligungserklärungen, die vor der Geltung der Datenschutzgrundverordnung, also vor dem 25. Mai 2018, uns gegenüber erteilt worden sind. Bitte beachten Sie, dass der Widerruf erst für die Zukunft wirkt. Verarbeitungen, die vor dem Widerruf erfolgt sind, sind davon nicht betroffen.
Darüber hinaus besteht ein Beschwerderecht bei einer zuständigen Datenschutzaufsichtsbehörde (Art. 77 DSGVO i.V.m. § 19 BDSG). Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift finden Sie unter
https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html

Informationen zu Ihrem Widerspruchsrecht


Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund Art. 6 Abs. 1 lit. f DSGVO (Datenverarbeitung auf der Grundlage einer Interessenabwägung) erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmung gestütztes Profiling im Sinne von Art. 4 Nr. 4 DSGVO.
Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten nicht mehr verarbeiten, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.
Der Widerspruch kann formfrei mit dem Betreff „Widerspruch“ unter Angabe Ihres Namens, Ihrer Adresse oder anderer Identifikationsmerkmale erfolgen an:
