<p>
  In the following you will find information about the processing of your personal data.
</p>
<h5>
  The person responsible for the processing of personal data
</h5>
<p>
  Responsible in terms of the data protection law is Witte, Sommer, Patzalt GbR.
</p>
<h5>
  Use of the database
</h5>
<p>
  If you use our database, we store the data you provide. The legal basis for this is consent in accordance with Art. 6 para. 1 lit. DSGVO. You can revoke this consent at any time. Simply send an e-mail to the admin. The data will be stored until you
  revoke your consent. The processing of the data is carried out by our contract processor Microsoft in the EU.
</p>
<h5>
  Your rights
</h5>
<p>
  Every data subject has the right of access under Art. 15 DSGVO, the right of rectification under Art. 16 DSGVO, the right of deletion under Art. 17 DSGVO, the right to restrict processing under Art. 18 DSGVO, the right of objection under Art. 21
  DSGVO and the right of data transferability under Art. 20 DSGVO.
</p>
<p class="text-danger">
  Beim Auskunftsrecht und beim Löschungsrecht gelten die Einschränkungen nach §§ 34 und 35 BDSG.
  Eine erteilte Einwilligung in die Verarbeitung personenbezogener Daten können Sie jederzeit uns gegenüber widerrufen. Dies gilt auch für den Widerruf von Einwilligungserklärungen, die vor der Geltung der Datenschutzgrundverordnung, also vor dem 25.
  Mai 2018, uns gegenüber erteilt worden sind. Bitte beachten Sie, dass der Widerruf erst für die Zukunft wirkt. Verarbeitungen, die vor dem Widerruf erfolgt sind, sind davon nicht betroffen.
  Darüber hinaus besteht ein Beschwerderecht bei einer zuständigen Datenschutzaufsichtsbehörde (Art. 77 DSGVO i.V.m. § 19 BDSG). Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift finden Sie unter
  <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.
</p>
<h5>
  Information on your right of objection
</h5>
<p>
  You have the right to object at any time, for reasons arising from your particular situation, to the processing of personal data relating to you that is carried out on the basis of Art. 6, para. 1, letter f) DPA (data processing based on a
  balancing of interests); this also applies to profiling based on this provision within the meaning of Art. 4, no. 4 DPA.
  If you lodge an objection, we will no longer process your personal data unless we can demonstrate compelling reasons for processing that are worthy of protection and outweigh your interests, rights and freedoms, or unless the processing serves to
  assert, exercise or defend legal claims.
  The objection can be made in any form with the subject "objection", stating your name, address or other identification features, to: <a href="mailto:contact@safemasks.de">contact@safemasks.de</a>.
</p>
