Use of the database
If you use our database, we store the data you provide. The legal basis for this is consent in accordance with Art. 6 para. 1 lit. DSGVO. You can revoke this consent at any time. Simply send an e-mail to the admin. The data will be stored until you revoke your consent. The processing of the data is carried out by our contract processor Microsoft in the EU.

Your rights

Every data subject has the right of access under Art. 15 DSGVO, the right of rectification under Art. 16 DSGVO, the right of deletion under Art. 17 DSGVO, the right to restrict processing under Art. 18 DSGVO, the right of objection under Art. 21 DSGVO and the right of data transferability under Art. 20 DSGVO.
The right of information and the right of deletion are subject to the restrictions set out in Articles 34 and 35 of the Federal Data Protectio


Information on your right of objection


You have the right to object at any time, for reasons arising from your particular situation, to the processing of personal data relating to you that is carried out on the basis of Art. 6, para. 1, letter f) DPA (data processing based on a balancing of interests); this also applies to profiling based on this provision within the meaning of Art. 4, no. 4 DPA.
If you lodge an objection, we will no longer process your personal data unless we can demonstrate compelling reasons for processing that are worthy of protection and outweigh your interests, rights and freedoms, or unless the processing serves to assert, exercise or defend legal claims.
The objection can be made in any form with the subject "objection", stating your name, address or other identification features, to
