<p>Im folgenden erhalten Sie Informationen über die Verarbeitung Ihrer personenbezogenen Daten.</p>

<h5>Der Verantwortliche für die Verarbeitung der personenbezogenen Daten</h5>

<p>Verantwortliche im Sinne des Datenschutzrechts ist die Witte, Sommer, Patzalt GbR.</p>

<h4>Welche Verarbeitungstätigkeiten werden vorgenommen?</h4>

<h5>Newsletterversand</h5>

<p>Ihre Daten werden ausschließlich dazu verwendet, Ihnen den abonnierten Newsletter per E-Mail zuzustellen und, soweit Sie hierin zusätzlich eingewilligt haben, auszuwerten, wie Sie den Newsletter und ggf. darin verlinkte Inhalte nutzen. Die Angabe
  Ihres Namens erfolgt, um Sie im Newsletter persönlich ansprechen zu können und ggf. zu identifizieren, falls Sie von Ihren Rechten als Betroffener Gebrauch machen wollen.
  Rechtsgrundlage für diese Verarbeitungen ist jeweils Ihre Einwilligung, Art. 6 Abs. 1 lit. a DSGVO (EU-Datenschutz-Grundverordnung).</p>

<h5>Wer empfängt diese Daten?</h5>

<p>Wir setzen für den Versand und ggf. erfolgende Auswertungen einen Dienstleister ein, der als unser Auftragsverarbeiter tätig wird.</p>

<h6>Wie lange werden die Daten gespeichert?</h6>

<p>Daten werden in diesem Zusammenhang nur verarbeitet, solange die entsprechende Einwilligung vorliegt.
  Widerruf der Einwilligung
  Die Einwilligung zur Speicherung Ihrer persönlichen Daten und ihrer Nutzung für den Newsletterversand durch safemsks.de können Sie jederzeit widerrufen. In jedem Newsletter findet sich dazu ein entsprechender Link. Außerdem kann der Widerruf durch
  die Newsletter-Abmeldung auf der Webseite erfolgen sowie über die auf der Webseite angegebenen weiteren Kontaktmöglichkeiten.</p>

<h4>Aufruf unserer Website</h4>

<p>Wenn Sie auf unsere Website zugreifen, d.h., selbst wenn Sie sich nicht registrieren oder anderweitig Informationen übermitteln, werden automatisch Informationen allgemeiner Natur erfasst. Diese Informationen (Server-Logfiles) beinhalten etwa die
  Art des Webbrowsers, das verwendete Betriebssystem, den Domainnamen Ihres Internet-Service-Providers, Ihre IP-Adresse und ähnliches.
  Sie werden insbesondere zu folgenden Zwecken verarbeitet:</p>

<ul>
  <li>Sicherstellung eines problemlosen Verbindungsaufbaus der Website,</li>
  <li>Sicherstellung einer reibungslosen Nutzung unserer Website,</li>
  <li>Auswertung der Systemsicherheit und -stabilität sowie</li>
  <li>zu weiteren administrativen Zwecken.</li>
</ul>

<p>Wir behalten uns außerdem vor, die Server-Logfiles nachträglich zu überprüfen, sollten konkrete Anhaltspunkte auf eine rechtswidrige Nutzung hinweisen.
  Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten Interesses an der Verbesserung der Stabilität und Funktionalität unserer Website.</p>

<h5>Speicherdauer</h5>

<p>Die Daten werden gelöscht, sobald diese für den Zweck der Erhebung nicht mehr erforderlich sind. Dies ist für die Daten, die der Bereitstellung der Website dienen, grundsätzlich der Fall, wenn die jeweilige Sitzung beendet ist.
  Die Bereitstellung der vorgenannten personenbezogenen Daten ist weder gesetzlich noch vertraglich vorgeschrieben. Ohne die IP-Adresse und die Cookie-Kennung ist jedoch der Dienst und die Funktionsfähigkeit unserer Website nicht gewährleistet. Zudem
  können einzelne Dienste und Services nicht verfügbar oder eingeschränkt sein.</p>
