<p>In the following you will find information about the processing of your personal data.</p>

<h5>The person responsible for the processing of personal data</h5>

<p>Responsible in terms of the data protection law is Witte, Sommer, Patzalt GbR.</p>

<h4>What processing activities are carried out?</h4>

<h5>Newsletter dispatch</h5>

<p>Your data will only be used to send you the subscribed newsletter by e-mail and, if you have additionally agreed to this, to evaluate how you use the newsletter and any linked content. Your name is entered in order to address you personally in the
  newsletter and, if necessary, to identify you if you wish to exercise your rights as a person affected.
  The legal basis for these processing operations is in each case your consent, Art. 6 para. 1 lit. a DSGVO (EU data protection basic regulation).
</p>

<h5>Who receives this data?</h5>

<p>We use a service provider who acts as our order processor for the dispatch and, if necessary, for the evaluation of the data.</p>

<h6>How long is the data stored?</h6>

<p>Data will only be processed in this context as long as the corresponding consent has been obtained.
  Revocation of consent
  You can revoke your consent to the storage of your personal data and its use for the newsletter dispatch by safemsks.de at any time. You will find a link to this effect in every newsletter. In addition, the revocation can be made by unsubscribing
  from the newsletter on the website as well as by using the other contact options provided on the website.
</p>

<h4>Calling our website</h4>

<p>When you access our website, i.e. even if you do not register or otherwise submit information, information of a general nature is automatically collected. This information (server log files) includes, for example, the type of web browser, the
  operating system used, the domain name of your Internet service provider, your IP address and similar.
  They are processed in particular for the following purposes:</p>

<ul>
  <li>Ensuring a problem-free connection establishment of the website,</li>
  <li>Ensuring the smooth use of our website,</li>
  <li>Evaluation of system security and stability and</li>
  <li>for other administrative purposes.</li>
</ul>

<p>We also reserve the right to subsequently check the server log files if there are concrete indications of illegal use.
  Processing is carried out in accordance with Art. 6 para. 1 lit. f DSGVO on the basis of our justified interest in improving the stability and functionality of our website.</p>

<h5>Storage period</h5>

<p>The data will be deleted as soon as they are no longer required for the purpose of collection. This is generally the case for the data used to provide the website, when the respective session has ended.
  The provision of the aforementioned personal data is not required by law or contract. Without the IP address and the cookie identification, however, the service and functionality of our website cannot be guaranteed. In addition, individual services
  may not be available or may be restricted.</p>
