<h6>§ 1 Scope of application</h6>

<ol>
  <li>
    These General Terms and Conditions (hereinafter referred to as GTC) apply to all transactions between us (safemasks) and the users of our database. In addition to the provisions of these GTC the legal provisions shall apply.
  </li>
  <li>
    Deviating, conflicting or supplementary GTC of the customer shall only become part of the contract if and insofar as we have expressly agreed to their validity.
  </li>
</ol>

<h6>§ 2 Subject matter of the contract</h6>

<ol>
  <li>
    In our database the user has the possibility to search for dealers of medical protection needs.
  </li>
  <li>
    For the conclusion of the contract the customer has only the German and/or English language at his disposal.
  </li>
  <li>
    The use of the database is free of charge.
  </li>
</ol>

<h6>§ 3 Registration</h6>

<ol>
  <li>
    To use the database, the user must register.
  </li>
  <li>
    Within the scope of registration, the user must choose a user name and a password. The customer must protect the user name and password from access by third parties and may not pass them on to third parties.
  </li>
  <li>
    The user assures to provide correct information.
  </li>
</ol>

<h6>§ 4 Use of the database</h6>

<ol>
  <li>
    In our database the user has the possibility to inform himself about dealers of medical protection needs. This information comes from other databases that are merged with us. The database provides a basis for deciding whether a dealer can be
    trusted or not. However, this database does not give any guarantees that fraud or other claims by the dealer can be excluded.
  </li>
</ol>

<h6>§ 5 Availability</h6>
<p>
  The user has regular access to our database around the clock, seven days a week. With regard to regularly required updates and maintenance of our database, however, the customer can only be guaranteed an average availability of 97 %. We ensure that
  the customer's use of the database is affected as little as possible by necessary updates and maintenance work.
</p>
<h6>§ 6 Prices and terms of payment</h6>

<ol>
  <li>
    The use of the database is free of charge.
  </li>
</ol>

<h6>§ 9 Warranty</h6>

<p>
  We provide - subject to the regulation in § 9 - warranty for material defects and defects of title of digital contents according to the valid legal regulations.
</p>

<h6>§ 10 Liability</h6>

<ol>
  <li>
    We shall be liable to the customer in accordance with the statutory provisions for damages and reimbursement of expenses in the event of culpable injury to life, body and health, as well as in the event of intent and gross negligence, fraudulent
    concealment of a defect or a guarantee assumed by us, and in accordance with the Product Liability Act.
  </li>
  <li>
    Liability for damages and reimbursement of expenses - regardless of the legal basis - is excluded.
  </li>
  <li>
    The above provisions shall also apply in favour of our legal representatives and vicarious agents if claims are made directly against them.
  </li>
  <li>
    safemasks does not assume any liability for compensation of damages caused by a dealer.
  </li>
</ol>

<h6>§ 11 Right of modification</h6>
<p>
  We are entitled to change our database, its contents and the digital contents offered, as long as the legitimate interests of the customer and the achievement of the purpose of the contract concluded with the customer are not significantly
  affected.
  The customer will be informed about such changes.
</p>

<h6>§ 12 Applicable law</h6>
<p>
  The law of the Federal Republic of Germany shall apply, excluding the UN Convention on Contracts for the International Sale of Goods. If the customer has placed the order as a consumer and has his habitual residence in another country at the time
  of
  the order, the application of mandatory legal provisions of this country remains unaffected by the choice of law made.
</p>

<h6>§ 13 Place of jurisdiction</h6>
<p>
  Exclusive place of jurisdiction is Berlin.
</p>
