Im folgenden erhalten Sie Informationen über die Verarbeitung Ihrer personenbezogenen Daten.

Der Verantwortliche für die Verarbeitung der personenbezogenen Daten.


Verantwortliche im Sinne des Datenschutzrechts ist die Witte, Sommer, Patzalt GbR


Aufruf unserer Website

Wenn Sie auf unsere Website zugreifen, d.h., selbst wenn Sie sich nicht registrieren oder anderweitig Informationen übermitteln, werden automatisch Informationen allgemeiner Natur erfasst. Diese Informationen (Server-Logfiles) beinhalten etwa die Art des Webbrowsers, das verwendete Betriebssystem, den Domainnamen Ihres Internet-Service-Providers, Ihre IP-Adresse und ähnliches.
Sie werden insbesondere zu folgenden Zwecken verarbeitet:
Sicherstellung eines problemlosen Verbindungsaufbaus
    der Website,
Sicherstellung einer reibungslosen Nutzung unserer
    Website,
Auswertung der Systemsicherheit und -stabilität sowie
zu weiteren administrativen Zwecken.
Wir behalten uns außerdem vor, die Server-Logfiles nachträglich zu überprüfen, sollten konkrete Anhaltspunkte auf eine rechtswidrige Nutzung hinweisen.
Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten Interesses an der Verbesserung der Stabilität und Funktionalität unserer Website.
Speicherdauer
Die Daten werden gelöscht, sobald diese für den Zweck der Erhebung nicht mehr erforderlich sind. Dies ist für die Daten, die der Bereitstellung der Website dienen, grundsätzlich der Fall, wenn die jeweilige Sitzung beendet ist.
Die Bereitstellung der vorgenannten personenbezogenen Daten ist weder gesetzlich noch vertraglich vorgeschrieben. Ohne die IP-Adresse und die Cookie-Kennung ist jedoch der Dienst und die Funktionsfähigkeit unserer Website nicht gewährleistet. Zudem können einzelne Dienste und Services nicht verfügbar oder eingeschränkt sein.
