In the following you will find information about the processing of your personal data.

The person responsible for the processing of personal data.


Responsible in terms of the data protection law is Witte, Sommer, Patzalt GbR

What processing activities are carried out?


Calling our website


When you access our website, i.e. even if you do not register or otherwise submit information, information of a general nature is automatically collected. This information (server log files) includes, for example, the type of web browser, the operating system used, the domain name of your Internet service provider, your IP address and similar.
They are processed in particular for the following purposes:
Ensuring a problem-free connection establishment
    of the website,
Ensuring the smooth use of our
    website,
Evaluation of system security and stability and
for other administrative purposes.
We also reserve the right to subsequently check the server log files if there are concrete indications of illegal use.
Processing is carried out in accordance with Art. 6 para. 1 lit. f DSGVO on the basis of our justified interest in improving the stability and functionality of our website.
Storage period
The data will be deleted as soon as they are no longer required for the purpose of collection. This is generally the case for the data used to provide the website, when the respective session has ended.
The provision of the aforementioned personal data is not required by law or contract. Without the IP address and the cookie identification, however, the service and functionality of our website cannot be guaranteed. In addition, individual services may not be available or may be restricted.
