<h6>§ 1 Geltungsbereich</h6>
<ol>
  <li>
    Diese Allgemeinen Geschäftsbedingungen (nachfolgend AGB) gelten für alle zwischen uns (safemasks) und den Nutzern unserer Datenbank. Ergänzend zu den Bestimmungen dieser AGB gelten die gesetzlichen Bestimmungen.
  </li>
  <li>
    Abweichende, entgegenstehende oder ergänzende AGB des Kunden werden nur dann und insoweit Vertragsbestandteil, als wir ihrer Geltung ausdrücklich zugestimmt haben.
  </li>
</ol>

<h6>§ 2 Vertragsgegenstand</h6>
<ol>
  <li>
    In unserer Datenbank hat der Nutzer die Möglichkeit nach Händlern von medizinischen Schutzbedarf zu suchen.
  </li>
  <li>
    Für den Vertragsschluss steht dem Kunden ausschließlich die deutsche und oder englische Sprache zur Verfügung.
  </li>
  <li>
    Die Nutzung der Datenbank ist kostenlos.
  </li>
</ol>

<h6>§ 3 Registrierung</h6>
<ol>
  <li>
    Zur Nutzung der Datenbank ist eine Registrierung des Nutzers erforderlich.
  </li>
  <li>
    im Rahmen der Registrierung hat der Nutzer einen Benutzernamen sowie ein Passwort zu wählen. Benutzernamen und Passwort hat der Kunde vor dem Zugriff Dritter zu schützen und darf diese nicht an Dritte weitergeben.
  </li>
  <li>
    Der Nutzer versichert richtige Angaben zu machen.
  </li>
</ol>

<h6>§ 4 Nutzung der Datenbank</h6>
<ol>
  <li>
    In unserer Datenbank hat der Nutzer die Möglichkeit sich über Händler von medizinischen Schutzbedarf zu informieren. Diese Informationen stammen von anderen Datenbanken, die bei uns zusammengeführt werden. Die Datenbank gibt eine
    Entscheidungsgrundlage, ob ein Händler vertrauenswürdig sein kann oder nicht. Diese Datenbank gibt jedoch keine Garantien, dass ein Betrug oder andere Schadensfälle durch den Händler ausgeschlossen werden können.
  </li>
</ol>

<h6>§ 5 Verfügbarkeit</h6>
<p>
  Der Nutzer hat regelmäßig rund um die Uhr an sieben Tagen die Woche Zugriff auf unsere Datenbank. Im Hinblick auf regelmäßig erforderliche Aktualisierungen und Wartungsarbeiten unserer Datenbank, kann dem Kunden allerdings nur eine mittlere
  Verfügbarkeit von 97 % gewährleistet werden. Wir tragen sorge dafür, dass die Nutzung der Datenbank durch den Kunden durch erforderliche Aktualisierungen und Wartungsarbeiten möglichst geringfügig beeinträchtigt wird.
</p>

<h6>§ 6 Preise und Zahlungsmodalitäten</h6>
<ol>
  <li>
    Die Nutzung der Datenbank ist kostenlos.
  </li>
</ol>
<h6>§ 9 Gewährleistung</h6>
<p>
  Wir leisten – vorbehaltlich der Regelung in
</p>

<h6>§ 9 – Gewähr für Sach- und Rechtsmängel digitaler Inhalte nach den geltenden gesetzlichen Vorschriften.</h6>

<h6>§ 10 Haftung</h6>
<ol>
  <li>
    Wir haften dem Kunden nach den gesetzlichen Vorschriften auf Schadens- und Aufwendungsersatz bei schuldhafter Verletzung des Lebens, des Körpers und der Gesundheit sowie bei Vorsatz und grober Fahrlässigkeit, bei arglistigem Verschweigen eines
    Mangels oder einer von uns übernommenen Garantie sowie nach dem Produkthaftungsgesetz.
  </li>
  <li>
    Die Haftung auf Schadens- und Aufwendungsersatz – gleich aus welchem Rechtsgrund – ist ausgeschlossen.
  </li>
  <li>
    Die vorstehenden Bestimmungen gelten auch zugunsten unserer gesetzlichen Vertreter und Erfüllungsgehilfen, wenn Ansprüche direkt gegen diese geltend gemacht werden.
  </li>
  <li>
    Eine Haftung auf Ersatz eines Schadens, der durch einen Händler verursacht wurde, wird durch safemasks nicht übernommen.
  </li>
</ol>

<h6>§ 11 Änderungsrecht</h6>
<p>
  Wir sind berechtigt, unsere Datenbank deren Inhalte und angebotene digitale Inhalte zu ändern, soweit hierdurch die berechtigten Interessen des Kunden und die Zweckerreichung des mit dem Kunden geschlossenen Vertrages nicht eher erheblich
  beeinträchtigt werden. Über entsprechende Änderungen wird der Kunde benachrichtigt.
</p>

<h6>§ 12 Anwendbares Recht</h6>
<p>
  Es gilt das Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts. Wenn der Kunde die Bestellung als Verbraucher abgegeben hat und zum Zeitpunkt der Bestellung seinen gewöhnlichen Aufenthalt in einem anderen Land hat, bleibt die
  Anwendung zwingender Rechtsvorschriften dieses Landes von der getroffenen Rechtswahl unberührt.
</p>
<h6>§ 13 Gerichtsstand</h6>
<p>
  Ausschließlicher Gerichtsstand ist Berlin.
</p>
