{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="jumbotron">
    <h1>Profile: {{user.username}}</h1>
</div>
<div class="container">
    {% if not user.is_active %}
        <h2>Your account is set to inactive. Please contact our support.
        </h2>
    {% elif user.is_active and not user.profile.has_verified_email %}
        <h2>Your do not have a verified E-mail address yet</h2>
        <a href="{% url 'account_email' %}">Please verify your email to receive further access rights</a>
    {% elif user.is_active and user.profile.has_verified_email %}
        {% if not user.profile.is_reviewed %}
            <div class="alert alert-danger" role="alert">
            <h3>Your profile has not been reviewed, yet</h3>
            <p>We are going to contact you soon.
            </p>
            </div>
        {% endif %}
            <div class="card">
                <div class="card-header">
                    Update profile information
                </div>
                <div class="card-body">
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email" value="{{user.email}}" disabled>
                    </div>
                    {% if user.first_name or user.last_name %}
                    <div class="form-row">
                    <div class="form-group  col-md-6">
                      <label for="first_name">First name</label>
                      <input type="first_name" class="form-control" id="email" value="{{user.first_name}}" disabled>
                    </div>
                    <div class="form-group  col-md-6">
                      <label for="last_name">Last name</label>
                      <input type="last_name" class="form-control" id="email" value="{{user.last_name}}" disabled>
                    </div>
                    </div>
                    {% endif %}
                    <form class="signup_form" method="POST" action="{% url 'masks_auth:profile' %}">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <input class="btn btn-success"  type="submit" name="action" value="Submit"/>
                    </form>
                </div>
                <div class="card-footer">
                    Last updated: {{user.profile.last_updated}}
                </div>
            </div>
    {% endif %}
</div>
{% endblock %}
