{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>safemasks {% block head_title %}{% endblock head_title %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}" />
    {% bootstrap_css %}
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'safemasks.css' %}">
    {% bootstrap_javascript jquery='full' %}
    {% block head-extra %}
    {% endblock%}
    {% block extra_head %}
    {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white">
            <!-- Brand -->
            <a class="navbar-brand" href="{% url 'resources:index' %}">
                <img src="{% static 'logo.png' %}" height="60" alt="safemasks">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resources:product-trusted' %}">
                            Trusted
                        </a>
                    </li>
                    {% if user.profile.is_reviewed and user.is_authenticated%}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resources:supplier-list' %}">
                            Suppliers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resources:api:api-root' %}">
                            <i class="fa fa-code mx-1" aria-hidden="true"></i>API
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto" id="account-nav">
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">
                            <i class="fa fa-user mx-1" aria-hidden="true"></i></i>Admin
                        </a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'masks_auth:profile' %}"><b>{{user}}</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}"><i class="fa fa-sign-out mx-1" aria-hidden="true"></i>Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}"><i class="fa fa-sign-in mx-1" aria-hidden="true"></i>Login</a>
                    </li>
                    {% endif %}
                </ul>
                <form action="{% url 'set_language' %}" method="post" class="form-inline my-2">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select class="custom-select custom-select-sm mx-3" name="language" onchange="this.form.submit()">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </nav>
    </header>
    <main role="main">

        {% block content %}
        <div class="jumbotron">
            <h1>{% trans 'Welcome to Safe Masks!' %}</h1>
            <h5>{% trans 'This page is currently under development' %}</h2>
        </div>
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                {{message}}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="container">
            <p>{% lorem 5 %}</p>
        </div>
        {% endblock %}

    </main>
    {% block extra_body %}
    {% endblock %}
</body>
<footer>
    {% block footer %}
    {% endblock %}
</footer>

</html>
