{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div class="jumbotron">
    <h1><span class="brand">safemasks</span> Portal</h1>
    <h5>{% trans 'Access to healthcare procurement data' %}</h2>
</div>
<div class="container mb-4">
    <section>
    <h1>Abou the portal</h1>
    <p>{% lorem %}</p>
    </section>
    <hr/>
    <section>
    <h1>How we store data</h1>
    <p>{% lorem %}</p>
    </section>
    <hr/>
    <section>
    <h1>Rating</h1>
    <p>{% lorem %}</p>
    </section>
    <hr/>
    <section>
    <h1>API</h1>
    <p>{% lorem %}</p>
    </section>
</div>
{% endblock %}
