{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div class="jumbotron">
    <h1>{% trans 'safemasks Portal' %}</h1>
    <h5>{% trans 'This page is currently under development' %}</h2>
</div>
<div class="container">
    <section>
    <h1>Abou the portal</h1>
    <p>{% lorem %}</p>
    </section>
    <hr/>
    <section>
    <h1>How we store data</h1>
    <p>{% lorem %}</p>
    </section>
    <hr/>
    <h1>Rating</h1>
    <p>{% lorem %}</p>
    </section>
    <hr/>
    <h1>API</h1>
    <p>{% lorem %}</p>
    </section>
    <hr/>
</div>
{% endblock %}
